//Created by 59245 on 2017/7/18.
doctype html
html
    head
        title= title
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" />
        <link rel='stylesheet' type='text/css' href='./stylesheets/ydui.css'>
        <link rel='stylesheet' type='text/css' href='./stylesheets/style.css'>
        <link rel='stylesheet' type='text/css' href='./stylesheets/login.css'>
        <script src="./javascripts/ydui.flexible.js"></script>
        style.
            .m-navbar:after{
                content:'';
                display:block;
                clear: both;
            }

    body
        header.m-navbar
            a(href="javascript:void(0);",class="navbar-item back-page")
                i.back-ico
            div.navbar-center
                span.navbar-title #{title}
            div.navbar-item
                a(href="javascript:void(0);",class="login-page")
                    i.icon-ucenter-outline
            div.userImg
                img(src="/fengmian.png",alt="头像")
                span.chooseImg '选择头像'
    script(src='http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js')
    script(src='/javascripts/ydui.js')
    script.



