.getWebsiteInfo{
    width: 100%;
    height: auto;
    padding-top: .3rem;
}
.getWebsiteInfo .website{
    width: 80%;
    height: .8rem;
    line-height: .8rem;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: .5rem;
    padding-left: .2rem;
    outline: none;
    font-size: .25rem;
    border: 1px solid #C9C9C9;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-appearance: none;
}
.getWebsiteInfo .btn-getInfo{
    margin: 0 auto;
    padding: 0;
    display: block;
    width: 80%;
    height: .8rem;
    line-height: .8rem;
    border: none;
    background: #00B7FF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-appearance: none;
    text-align: center;
    font-size: 16px;
    color: #000;
}